$primary-color: #015AFB;
$secondary-color: #FF0045;
$tertiary-color: #92890B;
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$light-gray-color: #d3d3d3;
$dark-gray-color: #B3B3B3;
$bg-color: #EFEFEF;